/* Base */
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";

.baner{
    margin-top: -80px;
    background-image: url('../img/baner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 156px 0 286px 0;
    z-index: -1;
    position: relative;
    margin-bottom: 190px;
    .food{
        position: absolute;
    }
    .food:first-child{
        left: 0;
        top: 0;
    }
    .food:nth-child(2){
        left: 184px;
        top: 58px;
        transform: rotate(-13deg);
    }
    .food:nth-child(3){
        right: 0;
        top: 0;
    }
    .food:nth-child(4){
        left: 242px;
        bottom: -130px;
    }
    .food:nth-child(5){
        right: 176px;
        bottom: -105px;
        transform: rotate(-6deg);
    }
    .baner-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        img{
            height: 145px;
            width: 370px;
        }
        h1{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            color: var(--green-color);
            margin: 35px 0 29px 0;
        }
        button{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: var(--white-text);
            padding: 12px 66px;
            background-color: var(--green-color);
            border-radius: 5px;
        }
    }
}
.catalog{
    margin-bottom: 60px;
    .catalog-top{
        position: relative;
        margin-bottom: 52px;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 370px 370px; 
        gap: 30px 24px; 
        grid-template-areas: 
            "a b b"
            "a c e"
            "a d e";
            .catalog-top-1{ 
                grid-area: a;
                .title{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 81%;
                    color: var(--color-black);
                }
                .catalog-top-info{
                    margin-top: 37px;
                    margin-left: 100px;
                    .line{
                        height: 3px;
                        width: 200px;
                        background: var(--green-color);
                        margin-bottom: 24px;
                    }
                    p{
                        font-family: var(--font-family);
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 150%;
                        color: var(--green-color);
                        max-width: 200px;
                    }
                }
            }
            .catalog-top-2{ 
                grid-area: b;
                margin-bottom: 6px;
                display: flex;
                justify-content: space-between;
            }
            .catalog-top-3{
                grid-area: c;
            }
            .catalog-top-4{
                grid-area: d;
            }
            .catalog-top-5{
                grid-area: e;
            }
            .catalog-top-3, .catalog-top-4, .catalog-top-5, .catalog-top-2-1, .catalog-top-2-2{
                position: relative;
                cursor: pointer;
                .rectangle{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    padding: 24px 0;
                    padding-left: 24px;
                    width: 100%;
                    box-sizing: border-box;
                    background: linear-gradient(180deg, rgba(6, 6, 6, 0) 0%, #060606 100%);
                    h3{
                        font-family: var(--font-family);
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 150%;
                        color: var(--white-text);
                    }
                }
            }
        .catalog-top-img{
            position: absolute;
            bottom: 0;
            left: -167px;
        }
    }
    .catalog-bottom{
        position: relative;
        display: grid;
        grid-template-columns: 370px 370px 374px;
        gap: 31px 24px;
        grid-auto-flow: row;
        grid-template-areas:
          "a b g"
          "a c g"
          "d e f";
    }

    .catalog-bottom-1 {
        grid-area: a;
        margin-bottom: 15px;
    }

    .catalog-bottom-2 {
        grid-area: b;
    }

    .catalog-bottom-3 {
        grid-area: c;
        margin-bottom: 15px;
    }

    .catalog-bottom-4 {
        grid-area: d;
    }

    .catalog-bottom-5 {
        grid-area: e;
    }

    .catalog-bottom-6 {
        grid-area: f;
        cursor: pointer;
    }

    .catalog-bottom-7 {
        grid-area: g;
        .catalog-bottom-info{
            .line{
                height: 3px;
                width: 200px;
                background: var(--green-color);
                margin-bottom: 24px;
            }
            p{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                color: var(--green-color);
                max-width: 240px;
            }
        }
    }
    .catalog-bottom-1, .catalog-bottom-2, .catalog-bottom-3, .catalog-bottom-4, .catalog-bottom-5{
        position: relative;
        cursor: pointer;
        .rectangle{
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 24px 0;
            padding-left: 24px;
            width: 100%;
            box-sizing: border-box;
            background: linear-gradient(180deg, rgba(6, 6, 6, 0) 0%, #060606 100%);
            h3{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: var(--white-text);
            }
        }
    }
    .catalog-bottom-img{
        position: absolute;
        right: -200px;
        top: -42px;
    }
}
.dignities{
    margin-bottom: 105px;
    .container{
        display: flex;
        justify-content: right;
        position: relative;
        .knife{
            position: absolute;
            left: -200px;
            top: -46px;
            z-index: 2;
        }
        .dignities-main{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 770px;
            .dignities-item{
                width: 370px;
                margin-bottom: 56px;
                h3{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 150%;
                    color: var(--green-color);
                    max-width: 370px;
                }
                p{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #969696;
                    max-width: 370px;
                    margin-top: 15px;
                }
            }
            .dignities-item:nth-child(4){
                margin-bottom: 77px;
            }
            .dignities-item:last-child{
                margin-bottom: 0;
            }
        }
    }
}
.program{
    padding-bottom: 60px;
    .container{
        display: flex;
        justify-content: center;
        .program-main{
            position: relative;
            width: 1030px;
            box-sizing: border-box;
            padding: 60px 0 63px 60px;
            border: 3px solid var(--color-black);
            img{
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .program-info{
                h2{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 130%;
                    color: var(--color-black);
                }
                p{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    color: var(--color-black);
                    margin-top: 15px;
                    margin-bottom: 47px;
                    max-width: 543px;
                    span{
                        font-weight: 700;
                    }
                }
                button{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: var(--white-text);
                    padding: 12px 78px 12px 36px;
                    border-radius: 5px;
                    background: var(--green-color);
                    position: relative;
                }
                button::after{
                    content: '';
                    position: absolute;
                    background-image: url('../img/arrow.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 18px;
                    height: 18px;
                    top: 50%;
                    right: 36px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
.business{
    position: relative;
    overflow: hidden;
    background: var(--color-black);
    img{
        position: absolute;
        top: 0;
        right: 0;
        // z-index: -1;
    }
    .container{
        padding-top: 58px;
        padding-bottom: 55px;
        form{
            .checkbox{
                padding: 16px 16px 0 16px;
                box-shadow: 0 4px 61px 0 rgba(0, 0, 0, 0.25);
                background: var(--white-text);
                .checkbox-main{
                    h2{
                        text-align: center;
                        font-family: var(--font-family);
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 150%;
                        text-align: center;
                        color: var(--green-color);
                        max-width: 420px;
                        padding: 22px 18px 25px 23px;
                        span{
                            color: var(--color-black);
                        }
                    }
                    .niche{
                        margin-top: 19px;
                        margin-bottom: 32px;
                        h3{
                            font-family: var(--font-family);
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 150%;
                            color: var(--color-black);
                        }
                        .niche-main{
                            margin-top: 6px;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }
    }
}